/google-services.json
/sjfirebaseai/
/sjfirebase/
/sjcredentials/
/sjgoogleid/
/kvdroid/
/.buildozer/
/main.py.orig
/examples/
/sjbillingclient/
/sjappupdate/
/build-sign-apk.sh
/sjadmob/
/bin/
/.kivy/
/sjplayservicecommon/
/sjplayreview/
